.card-grey
{
  color: black;
  background-color: #e0e0e0;
}

.card-yellow
{
  color: #ff9800;
  background-color: #fff59d;
}

.card-yellow .card-sub
{
  color: #f4511e;
}
.card-grey .card-sub
{
  color: #616161;
}
